<launch>
	<param name="robot_description" textfile="$(find rhr_visualization)/urdf/Hand_Assem.URDF" />
	<param name="use_gui" value="true" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="rhr_publish_angles" pkg="rhr_visualization" type="rhr_publish_angles"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rhr_visualization)/urdf.rviz" required="true" />
</launch>